/* global */
.btn {
  display: inline-block;
  color: #fff;
  background: #FDCF33;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #FFE94D;
}

.btn-dark {
  background: #333;
  color: #fff;
}

/* navbar */
.logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  color: #FDCF33;
}

#navbar {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-pack: justify;
      justify-content: space-between;
  z-index: 2000;
}

@media (max-width: 1280px) {
  #navbar {
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  #navbar ul li a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
  }
}

#navbar li {
  margin-bottom: 20px;
}

#navbar ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  list-style: none;
  margin-top: 20px;
}

@media (max-width: 1280px) {
  #navbar ul {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
  }
}

#navbar h1 {
  margin-top: 20px;
}

#navbar ul a {
  color: #fff;
  padding: .75rem;
  margin: 0 .25rem;
}

#navbar ul li a:hover {
  background: #FDCF33;
  border-radius: 5px;
  text-decoration: none;
}

/* header */
#hero {
  background-image: url("https://images.pexels.com/photos/374811/pexels-photo-374811.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center center;
  background-size: cover;
  width: 100%;
  margin-top: -80px;
  color: #fff;
}

@media (max-width: 1280px) {
  #hero {
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
  #hero::after {
    content: "";
    background-color: rgba(255, 165, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
  #hero h1 {
    font-size: .90rem;
  }
}

/* hero */
#hero .hero-content {
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 200px;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 1280px) {
  #hero .hero-content {
    padding: 60px 0;
  }
}

/* services */
#services {
  padding-top: 40px;
  text-align: center;
}

@media (max-width: 1280px) {
  .services-column {
    padding: 0;
  }
}

.services-columns-wrapper {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 40px;
}

@media (max-width: 1280px) {
  .services-columns-wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.services-h1-positioning {
  text-align: center;
}

.fa-amazon,
.fa-accusoft,
.fa-lock-open {
  color: #FDCF33;
  border-radius: 50%;
  padding: 0.5em 0.5em;
  font-size: 36px;
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.services-icon {
  border: 3px solid #FDCF33;
  border-radius: 50%;
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75px;
  height: 75px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
}

/* temporary */
img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* polaroids */
.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gallery h1 {
  margin-top: 40px;
}

.polaroid-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 1280px) {
  .polaroid-items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 960px) {
  .polaroid-items {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.polaroid-item {
  position: relative;
  background: white;
  /* height: 420px; */
  /* width: 295px; */
  /* min-width: 30%; */
  margin-bottom: 30px;
  /* border: solid 2px red; */
  /* background-image: url(https://images.pexels.com/photos/1793307/pexels-photo-1793307.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); */
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 1280px) {
  .polaroid-item {
    -ms-flex-preferred-size: 34%;
        flex-basis: 34%;
    margin-bottom: 20px;
    margin: 20px auto;
  }
}

.polaroid-item-text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: white;
}

/* footer */
footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.icon-background {
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 15px 15px;
  background-color: #000;
}

@media (max-width: 1280px) {
  .icon-background {
    margin-top: 50px;
  }
}

footer p {
  transform: translateY(50%);
}

@media (max-width: 1280px) {
  footer p {
    position: absolute;
  }
}

.fa-twitter-white {
  color: #fff;
}

.fa-facebook-white {
  color: #fff;
}

.fa-pinterest-white {
  color: #fff;
}

.fa-google-plus-white {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */