/* global */
/* .container {
  width: 80%;
} */
.btn {
  display: inline-block;
  color: #fff;
  background: #FDCF33;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #FFE94D;
}

.btn-dark {
  background: #333;
  color: #fff;
}

/* header */
#hero {
  background-image: url("https://images.pexels.com/photos/374811/pexels-photo-374811.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: center center;
  background-size: cover;
  width: 100%;
  margin-top: -80px;
  color: #fff;
  @media (max-width: 1280px) {
    position: relative;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    // margin-top: -320px;
    &::after {
      content: ""; 
      background-color: rgba(255, 165, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
    }
    h1 {
      font-size: .90rem;
    }
  }
}







/* navbar */

.logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  color: #FDCF33;
}

#navbar {
  display: flex;
  color: #fff;
  position: sticky;
  justify-content: space-between;
  z-index: 2000;
  @media (max-width: 1280px) {
    // background-color: rgba(255, 165, 0, 0.3);
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    ul li a {
      padding-top: 20px;
      padding-bottom: 20px;
      color: black;
    }
  }
}

#navbar li {
  // margin-top: 20px;
  margin-bottom: 20px;
}

// @media (max-width: 768px) {
//   #navbar .container {
//     max-width: 100%;
//   }
  
// }

// @media (max-width: 1280px) {
//   #navbar .container {
//     max-width: 100%;
//   }
// }
// #navbar .container {
//   @media (max-width: 768px) {
//     max-width: 100%;
//   }
//   @media (max-width: 1280px) {
//     width: 100%;
//     padding: 0;
//     max-width: 100%;
//   }
// }

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  @media (max-width: 1280px) {
    flex-direction: column;
    padding: 0;
  }
}

#navbar h1 {
  margin-top: 20px;
}
#navbar ul a {
  color: #fff;
  padding: .75rem;
  margin: 0 .25rem;
}

#navbar ul li a:hover {
  background: #FDCF33;
  border-radius: 5px;
  text-decoration: none;
}

/* hero */

#hero .hero-content {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: center;
  padding: 200px;
  text-align: center;
  align-items: center;
  @media (max-width: 1280px) {
    padding: 60px 0;
  }
}

/* services */

#services {
  padding-top: 40px;
  text-align: center;
}

.services-column {
  // padding-left: 40px;
  
  @media (max-width: 1280px) {
    padding: 0;
  }
}
.services-columns-wrapper {
  display: flex;
  text-align: center;
  padding-top: 40px;

  @media (max-width: 1280px) {
    flex-direction: column;
  }
}

.services-h1-positioning {
  text-align: center;
}

.fa-amazon,
.fa-accusoft,
.fa-lock-open {
    color: #FDCF33;
    border-radius: 50%;
    padding: 0.5em 0.5em;
    font-size: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.services-icon {
  border: 3px solid #FDCF33;
  border-radius: 50%;
  position: relative;
  display: inline-flex;
  width: 75px;
  height: 75px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


/* temporary */

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* polaroids */

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gallery h1 {
  margin-top: 40px;
}
.polaroid-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1280px) {
    justify-content: space-around;
  }
  @media (max-width: 960px) {
    flex-direction: column;
  }
}


.polaroid-item {
  position: relative;
  background: white;
  /* height: 420px; */
  /* width: 295px; */
  /* min-width: 30%; */
  margin-bottom: 30px;
  /* border: solid 2px red; */
  /* background-image: url(https://images.pexels.com/photos/1793307/pexels-photo-1793307.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); */
  flex-basis: 30%;

  @media (max-width: 1280px) {
    flex-basis: 34%;
    margin-bottom: 20px;
    margin: 20px auto;
  }
}


.polaroid-item-text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: white;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
}

.icon-background {
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
  background-color: #000;
}

footer p {
  transform: translateY(50%);
}
.fa-twitter-white {
  color: #fff;
}

.fa-facebook-white {
  color: #fff;
}

.fa-pinterest-white {
  color: #fff;
}

.fa-google-plus-white {
  color: #fff;
}
